<div class="header container-fluid">
  <div class="row">
        <div class="logo col">
          <img src="assets/images/logo.svg" alt="">
        </div>
    <div class="dropdown_block col">
      <div class="dropdown_menu">
        Меню<span class="material-icons">arrow_drop_down</span>
      </div>
      <div class="dropdown_time">
        10 минут<span class="material-icons">arrow_drop_down</span>
      </div>
      <div class="refresh_page">
        <span class="material-icons">refresh</span>
      </div>
    </div>
    <div class="header_title col-6">
      <span>Рейтинг статей</span>
    </div>
    <div class="sign_block col">
      <span>Sign In</span>
      <span class="material-icons">login</span>
    </div>
  </div>
</div>
