<div class="header-bottom">
    <div class="category-block">
        <ul>
            <li><a href="#">Бизнес</a> </li>
            <li><a href="#">Спорт</a></li>
            <li><a href="#">Интервью</a></li>
            <li><a href="#">Короновирус</a></li>
            <li><a href="#">Политика</a></li>
        </ul>
    </div>
    <div class="count-block">
        <div class="text-count">Всего новостей: 60499</div>
        <div class="settings-icon"><img src="assets/images/icons/settings.png" alt=""></div>
    </div>
</div>
