<div class="header container-fluid">
    <div class="row">
          <!-- <div class="logo col">
            <img src="assets/images/icons/logo.png" alt="">
          </div> -->
      <div class="dropdown_block">
        <div class="dropdown_menu">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link text-white" id="dropdownBasic1" ngbDropdownToggle>Меню</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Рейтинг статьей</button>
              <button ngbDropdownItem>Рейтинг СМИ</button>
              <button ngbDropdownItem>Рейтинг изданий</button>
              <button ngbDropdownItem>Рейтинг предприятий</button>
              <button ngbDropdownItem>Рейтинг персон</button>
              <button ngbDropdownItem>Рейтинг авторов</button>
              <button ngbDropdownItem>Тарифы</button>
            </div>
          </div>
        </div>
        <div class="dropdown_time" >
          <select class="custom-select">
            <option value="1">10 минут</option>
            <option value="2">Час</option>
            <option value="3">День</option>
            <option value="4">Неделя</option>
            <option value="5">Месяц</option>
          </select>
        </div>
        <div class="refresh_page">
            <img src='assets/images/icons/refresh.png'>
        </div>
      </div>
      <div class="header_title">
        <span>Рейтинг статей</span>
      </div>
      <div class="sign_block">
        <span>Sign In</span>
        <img src='assets/images/icons/signin.png' style="padding: 0 0.5rem;">
      </div>
    </div>
  </div>


  